# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# C++ build files
extension/build/
x64/
Debug/
Release/
*.tlog
*.obj
*.pch
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.exp

# IDE files
.vs/
.vscode/
*.user
*.suo
*.sln.docstates

# Operating system files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini 